:root {
  --yellow: #fae100;
  --pink: #ffc7c7;
  --main-color: black;
  --main-bg: #fdf1d7;
  --point: #cabea6;
  --gray: rgba(0, 0, 0, 0.5);
  --horizontal-space: 25px;
  --main-border: 1px solid var(--gray);
}
