body {
  background-color: var(--main-bg);
  height: 120vh;
}

#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  margin-bottom: 20px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  padding: 15px 0px;
  border-top: 1px solid var(--gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#splash {
  background-color: #f9f9f9;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 112px;
  animation: loding 0.4s forwards;
  animation-delay: 1s;
}

@keyframes loding {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
