.alt-screen-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--horizontal-space);
  margin-top: 20px;
}

.alt-screen-header__column:first-child {
  width: 25%;
  display: flex;
  justify-content: flex-start;
}

.alt-screen-header__column:nth-child(2) {
  width: 50%;
  display: flex;
  justify-content: center;
}

.alt-screen-header__column:last-child {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}

.alt-screen-header__title {
  font-size: 28px;
  font-weight: 600;
}
