.badge {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 14px;
}

.badge-small {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: tomato;
  position: absolute;
  right: -3px;
}
