.user-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  object-fit: cover;
  margin-bottom: 20px;
}

.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__column:last-child {
  color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  display: block;
  padding-bottom: 7px;
}

.user-component__image {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
  object-fit: cover;
}

.user-component__image--xl {
  width: 80px;
  height: 80px;
  border-radius: 30px;
}

.user-component__image--sm {
  width: 60px;
  height: 60px;
  border-radius: 20px;
}

.user-component__text {
  display: flex;
  flex-direction: column;
}

.user-component__title {
  font-size: 22px;
  font-weight: 600;
}

.user-component__subtitle {
  font-size: 14px;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.4);
}
